html{
    scroll-behavior: smooth;
}

body {
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
}

a:hover{
    text-decoration: none;
}

.header{
    background-color: #D4E4F7;
}

.header h2 {
    font-family: Verdana, sans-serif, helvetica;
    font-weight: lighter;
    font-size: 1.5rem;
    letter-spacing: .15em; /* Adjust as needed */
    color: #341C09;
    animation: fade-effect-down 0.75s;
}

.header #social-links img{
    height: 1.5rem;
    width: 1.5rem;
    animation: fade-effect-down 0.75s;
    /* animation-delay: 0.5s; */
}

#social-links a{
    position: relative;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

.header #social-links a:hover{
    transition: 0.5s ease; /* makes the opacity effect go-in and come-out slowly */
    opacity: 0.7;
    text-decoration: none;
    animation: hovering-effect 0.5s ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* ******************* NAVBAR SECTION **************************************/

.navbar{
    background-color: #341C09;
    border-bottom: 0.2rem solid #236AB9;
    opacity: 0.94;
}

.navbar ul{
    animation: fade-effect-down 0.75s;
    /* animation-delay: 1s; */
}

.navbar:hover{
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    border-bottom: 0.2rem solid #FC7307;
    transition: 0.4s ease;
    opacity: 1.0;
}

.navbar a:hover{
    color: #d3d3d3;
    border-bottom: 2px solid;
    padding-bottom: 0;
    transition: 0.4s ease;
}

/* Following two scroll classes for making navbar-brand appear/disappear on scoll */

.beforeScroll{
    height: auto;
    display: none;
}

.afterScroll{
    display: inline-block;
    animation: fade-effect-down 1s;
}

/* ***********************BODY STARTS HERE************************************** */

/* ***********INTRO SECTION ***************** */
#intro{
    padding-top: 4rem;
    padding-bottom: 4rem;
    height: 85vh;
    overflow: auto;
    /* background-color: #007bff; */
    background-image: url('images/abstract_intro_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#intro h2{
    font: 5em bold;
    font-family: monospace;
    animation: fade-effect-down 2s;
}

@media only screen and (max-width: 500px){
    #intro h2{
        font-size: 10vw;
    }

    #intro h3{
        font-size: 10vw;
    }
}

#intro h2:first-child::first-letter{ /* H */
    font-size: 2em;
    font-family: monospace;
}

#intro-top{ /* HEY */

}

#intro h3{ /* This is Raj */
    font: 3em bold;
    font-family: monospace;
    animation: fade-effect-up 2s;
    display: inline-block;
    transition-property: background-color;
    background-color: white;
}

#intro-bottom{ /* This is Raj */

}

#scroll-down-icon{
    position: relative;
    font-size: 2rem;
    border-radius: 100%;
    color: #341C09;
    opacity: 0; /* initally the element will be invisible before the animation starts */
    animation: scroll-down-effect 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 4s;
}

/* Blockquote code ***********************/

blockquote{
    border-left:none
}

.quote-badge{
    background-color: rgba(0, 0, 0, 0.3);
}

.quote-box{
    overflow: hidden;
    /* margin-top: -50px; */
    /* padding-top: -100px; */
    border-radius: 0.5rem;
    background-color: #4ADFCC;
    /* margin-top: 25px; */
    color: white;
    width: 50%;
    box-shadow: 2px 2px 2px 2px #E0E0E0;
}

.quotation-mark{
    /* margin-top: 0.5rem; */
    font-weight: bold;
    font-size: 6.5rem;
    color: white;
    font-family: "Times New Roman", Georgia, Serif;
}

.quote-text{
    font-size: 1.2rem;
    margin-top: -3.5rem;
}

/* Blockquote end *************** */

/* SETTINGS COMMON TO ALL SECTIONS ******************************** */
#about-outer h4:first-child, #experience-outer h4:first-child, #education-outer h4:first-child, #contact-outer h4:first-child{
    border-top: 0.1rem solid #341C09;
    font-family: monospace;
    display: inline-block;
    background-color: #D4E4F7;
}

/* *************ABOUT SECTION ***************** */

#about-outer{
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #FC7307;
    overflow: auto;
    /* background-image: linear-gradient(#fd7e14, #D4E4F7); */
}

#about-outer .container:first-of-type{
    /* background-color: #FC7307; */
    background-image: linear-gradient(#fd7e14, #D4E4F7);
}

#terminal-layout{
    font-family: monospace;
}

#about-jumbo{
    background-color: #D4E4F7; /* sky blue white */
}

#about-outer h3{
    font-family: monospace;
    font-weight: bold;
    font-size: 10rem;
    text-align: left;
    overflow: auto;
}

#about-outer img{
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


/* ************EXPERIENCE SECTION ****************** */
#experience-outer{
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #D4E4F7; /* sky blue white */
    overflow: auto;
    /* background-image: linear-gradient(#D4E4F7, #B85B14); */
}

#experience-outer .container:first-of-type{
    /* background-color: #D4E4F7; */
    background-image: linear-gradient(#D4E4F7, #B85B14);
}

#experience-outer img{
    max-width: 100%;
}

#experience-outer .card{
    background-color: #D4E4F7;
}

#experience-outer .card ul{
    list-style-type: circle;
}
#experince-outer .card-text{
    text-align: left;
}

#experience-outer .card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 700px) { /* small screens, landscape view */
    #experience-banner-img{
        max-width: 100vw;
        max-height: 40vh;
    }

    #yorku-logo-img{
        max-width: 10vw;
        max-height: 10vh;
    }

}

@media only screen and (min-width: 700px) { /* large mobiles screens and up */
    #experience-banner-img{
        max-width: 80vw;
        max-height: 40vh;
    }

}

#experience img{ /* card pics */
    justify-content: center;
    height: 15rem;
    width: auto;
}

/* **************EDUCATION SECTION ******************** */

#education-outer{
    padding-top: 4rem;
    padding-bottom: 4rem;
    overflow: auto;
    background-color: #B85B14; /* light brown */
}

#education-outer .container:first-of-type{
    overflow: hidden;
    background-image: linear-gradient(#B85B14, #341C09); /* light brown to dark brown */
}

#education-layout{
    background-color: #D4E4F7;

}

#education-layout #coursework ul{
    font-size: 1rem;
    list-style-type: circle;
}

#education-layout #coursework ul li{
    padding: 0.5rem;
}

/* **************CONTACT SECTION ******************** */

#contact-outer{
    padding-top: 2rem;
    /* background-color: #341C09; /* light brown */ */
    font-family: monospace;
    background-image: url('images/abstract_intro_bg.jpg');
    
    background-position: bottom;
    /* background-image: linear-gradient(#B85B14, #341C09); */
}

#contact-outer .container:first-of-type{
    overflow: hidden;
    /* background-color: #B85B14; */
    background-image: linear-gradient(#341C09, #D4E4F7);

}

#contact-outer h2{

}

#contact-outer table{
    float: right;
    background-color: #D4E4F7;
}

#contact-outer p{
    font-family: monospace;
}

#contact-outer #social-links a{
    text-decoration: none;
}

#contact-outer #social-links img{
    height: 1rem;
    width: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    animation: fade-effect-down 0.75s;
    /* animation-delay: 0.5s; */
}














/* display set to none because that are is just for reference */
#inner_container{
    background-color: #FB9118;
    display: none;
}

/* ANIMATIONS ***********************************************************************************/

@keyframes fade-effect-down {
    from {opacity: 0; transform: translateY(-5em) rotateX(-90deg);
                transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
                opacity 2.0s 0.25s ease-in;}
    to {opacity: 1;}
}

@keyframes fade-effect-up {
    from {opacity: 0; transform: translateY(5em) rotateX(-90deg);
                transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
                opacity 2.0s 0.25s ease-in;}
    to {opacity: 1;}
}

@keyframes scroll-down-effect {
    0% {opacity: 0.4; top: 0em;}
    100% {opacity: 1; top: 4em; background-color: white;}
}

@keyframes hovering-effect {
    0% {top: -0.2em;}
    100% {top: 0.2em;}
}
/* Keep those elements hidden at first. Each type of element has a little different animation*/
.container-headers{ /* this animation is only used in the header in the intro section of page */
    opacity: 0;
    transform: translateY(4em) rotateY(-10deg);
    transition: transform 2.5s 1.5s cubic-bezier(0.1, 1, 0.3, 1),
                opacity 1.0s 0.25s ease-out;
    will-change: transform, opacity;
}

.container-titles{
    opacity: 0;
    transform: translateY(-5em) rotateZ(-5deg);
    transition: transform 1s 0.25s cubic-bezier(0, 1, 0.3, 1),
                opacity 0.3s 0.25s ease-out;
    will-change: transform, opacity;
}

.container-bodys{
    opacity: 0;
    transform: translateY(5em) rotateZ(-10deg);
    transition: transform 1s 0.25s cubic-bezier(0, 1, 0.3, 1),
                opacity 0.3s 0.25s ease-out;
    will-change: transform, opacity;
}

/* Making the above elements visible with animation*/
.container-headers.is-visible{
    opacity: 1;
    transform: rotateY(0deg);
}

.container-titles.is-visible{
    opacity: 1;
    transform: rotateZ(0deg);
}

.container-bodys.is-visible{
    opacity: 1;
    transform: rotateZ(0deg);
}
