body {
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
}

.header{
    background-color: #D4E4F7;
}

.header h2 {
    font-family: Helvetica;
    letter-spacing: .15em; /* Adjust as needed */
    color: #341C09;
    animation: fade-effect 0.75s;
}

#social_links img{
    height: 1.5rem;
    width: 1.5rem;
    animation: fade-effect 0.75s;
    /* animation-delay: 0.5s; */
}

#social_links a{
    position: relative;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

.header #social_links a:hover{
    transition: 0.5s ease; /* makes the opacity effect go-in and come-out slowly */
    opacity: 0.7;
    text-decoration: none;
    animation: hovering-effect 0.5s ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.navbar{
    background-color: #341C09;
    border-bottom: 0.2rem solid #236AB9;
    opacity: 0.94;
}

.navbar ul{
    animation: fade-effect 0.75s;
    /* animation-delay: 1s; */
}

.navbar:hover{
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-bottom: 0.3rem solid #FC7307;
    transition: 0.4s ease;
    opacity: 1.0;
}

.navbar a:hover{
    color: #d3d3d3;
    border-bottom: 2px solid;
    padding-bottom: 0;
    transition: 0.4s ease;
}

/* Following two scroll classes for making navbar-brand appear/disappear on scoll */

.beforeScroll{
    height: auto;
    display: none;
}

.afterScroll{
    display: inline-block;
    animation: fade-effect 1s;
}

/* ***********************BODY STARTS HERE************************************** */

/* ***********INTRO SECTION ***************** */
#intro{
    padding-top: 4rem;
    padding-bottom: 4rem;
    /* background-color: #236AB9; */
    height: 85vh;
    overflow: auto;
}

#intro h2{
    font: 5em bold;
    font-family: monospace;

}

#intro h2:first-child{ /* HEY */
}

#intro h2:first-child::first-letter{ /* H */
    font-size: 2em;
    font-family: monospace;
}

#intro-top{
    animation: fade-effect 2s;
}

#intro-bottom{
    display: inline-block;
    transition-property: background-color;
    transition-duration: 2s;
    background-color: white;
    transition-timing-function: ease-in;
}

#scroll-down-icon{
    position: relative;
    font-size: 2rem;
    border-radius: 100%;
    color: #341C09;
    opacity: 0; /* initally the element will be invisible before the animation starts */
    animation: scroll-down-effect 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 4s;
}

/* SETTINGS COMMON TO ALL SECTIONS ******************************** */
#about_me h2:first-child::first-letter, #experience_me h2:first-child::first-letter, #contact_me h2:first-child::first-letter{
    font-size: 3rem;
    font-family: monospace;
}

#about_me h2:first-child, #experience_me h2:first-child, #contact_me h2:first-child{
    border-bottom: 0.2rem solid #341C09;
    display: inline-block;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* *************ABOUT SECTION ***************** */

#about_me{
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #FC7307;
    overflow: auto;
}

#terminal-layout{
    font-family: monospace;
}

#about_me h3{
    font-family: monospace;
    font-weight: bold;
    font-size: 7rem;
    text-align: left;
}

#about_me #about-jumbo{
    opacity: 0.7;
    color: #341C09;
}



/* ************EXPERIENCE SECTION ****************** */
#experience_me{
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #D4E4F7;
    overflow: auto;
}

#experience_me h3{

}

#experience img{
    justify-content: center;
    height: 15rem;
    width: auto;
}

/* **************CONTACT SECTION ******************** */

#contact_me{
    padding-top: 2rem;
    background-color: #B85B14;
}

#contact_me .container{
    overflow: hidden;
}

#contact_me h2{

}

#contact_me table{
    float: right;
}

#contact_me p{
    font-family: monospace;
}

#contact_me #social_links a{
    text-decoration: none;
}











/* display set to none because that are is just for reference */
#inner_container{
    background-color: #FB9118;
    display: none;
}

/* ANIMATIONS ***********************************************************************************/

@keyframes fade-effect {
    from {opacity: 0; transform: translateY(-5em) rotateX(-90deg);
                transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
                opacity 2.0s 0.25s ease-in;}
    to {opacity: 1;}
}

@keyframes scroll-down-effect {
    0% {opacity: 0.4; top: 0em;}
    100% {opacity: 1; top: 4em; background-color: white;}
}

@keyframes hovering-effect {
    0% {top: -0.2em;}
    100% {top: 0.2em;}
}
/* Keep those elements hidden at first. Each type of element has a little different animation*/
.container-headers{
    opacity: 0;
    transform: translateY(4em) rotateY(-10deg);
    transition: transform 3.5s 0.25s cubic-bezier(0.1, 1, 0.3, 1),
                opacity 2.0s 0.25s ease-out;
    will-change: transform, opacity;
}

.container-titles{
    opacity: 0;
    transform: translateY(-5em) rotateZ(-5deg);
    transition: transform 2.5s 0.25s cubic-bezier(0, 1, 0.3, 1),
                opacity 0.3s 0.25s ease-out;
    will-change: transform, opacity;
}

.container-bodys{
    opacity: 0;
    transform: translateY(5em) rotateZ(-10deg);
    transition: transform 2.5s 0.25s cubic-bezier(0, 1, 0.3, 1),
                opacity 0.3s 0.25s ease-out;
    will-change: transform, opacity;
}

/* Making the above elements visible with animation*/
.container-headers.is-visible{
    opacity: 1;
    transform: rotateY(0deg);
}

.container-titles.is-visible{
    opacity: 1;
    transform: rotateX(-2deg);
}

.container-bodys.is-visible{
    opacity: 1;
    transform: rotateZ(0deg);
}
